body,
.pure-g [class*=pure-u] {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
}

ul {
  list-style: none;
}

.container {
  box-sizing: border-box;
  width: 100%;
  padding: 45px 20px;
}

.pure-button-primary {
  background-color: #0c1a2b;
}

.pure-button-primary:hover {
  background-color: #233e5e;
}

.pure-form input[type="text"]:focus {
  border-color: #0c1a2b;
}

/* NAVBAR */
.navbar {
  position: fixed;
  padding: 5px;
  background: #0c1a2b;
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
}

.navbar a {
  color: #fff;
}

.navbar a:active,
.navbar a:focus,
.navbar a:hover {
  background: #233e5e;
}

.navbar .pure-menu-heading {
  font-weight: bold;
  text-transform: none;
}

.navbar .navbar-right {
  float: right;
}

.navbar .uport-logo {
  height: 16px;
  margin-right: 10px;
}
/* Custom CSS */
.jumbotron {
  text-align: center;
  margin: 5% 10% 3% 10%;
}
.features-small {
  display: flex;
  justify-content: space-evenly;
}
.features-small h2 {
  text-align: center;
}
.home .pure-button.pure-button-primary {
  margin: auto;
  display: block;
}
.registry {
  text-align: center;
}
.registry ul, .registry-form ul {
  list-style: none;
  padding-left: 0;
}
/* Home */
.home .main-title {
  margin: 5%;
}
/* Sidebar */
.sidebar {
  width: 20%;
  height: 100%;
  text-align: center;
}
.sidebar li:hover {
   cursor: pointer;
   font-weight: bold;
   color: blue;
}
.sidebar li:visited {
  color: red;
}
.sidebar-left {
  float: left;
  padding-left: 0;
}
.sidebar .sidebar-item {
  background-color: rgb(10, 25, 44);
  color: white !important;
  border: white solid 1px;
  margin: 0 5%;
  padding: 5px 0;
  border-radius: 5px;
}
.sidebar-item:hover {
  color: white;
  background-color: #233e5e;
}
/* Form List */
.pure-button.pure-button-primary {
  height: 55px;
  padding: 0px 10px;
  border-radius: 5px;
}
.registry-form .pure-button.pure-button-primary {
  float: right;
  margin-right: 5%;
}
.form-list {
  width: 73%;
  float: right;
  margin-right: 5%;
  margin-bottom: 20px;
}
.form-caption {
  margin-bottom: 0px;
}
.form-description {
  margin: 5px auto 10px auto;
}
.form-input {
  width: 90%;
  padding: 10px;
  border-radius: 5px;
  border-width: thin;
  border-style: solid;
  border-color: rgb(80, 95, 107);
}
/* Preview */
.preview {
  text-align: center;
}
.list-group {
  background-color: #eee;
  padding: 10px 0;
  margin: 20px;
}
.list-text {
  color: #555
}
.list-text-primary {
  font-style: italic;
  font-size: 105%;
}
/* Buttons */
.btn {
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}
.btn-primary {
  text-align: center;
  color: white;
  background-color: rgb(10, 25, 44);
  width: 150px;
}
.block-center {
  margin: auto;
  display: block;
}
.btn-primary:hover {
  background-color: #233e5e
}
/* Preview */
.preview .main-title {
  margin: 5%;
}
.preview a {
  float: left;
  margin-left: 4%;
  padding: 15px 0;
}
.preview button {
  float: right;
  margin-right: 4%
}
